/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 0px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */
header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  
}

header nav {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 60px;
  color: #fff;
}

header nav ul {
  list-style-type: none;
  display: flex;
  
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}


/* -------  Search Form ------- */
form {

  border: 2px solid #ff385c;
  padding: 10px;

}

form label {
  flex: 1;
  font-weight: bold;
  
}
.form-adjust{
  display: flex;
  justify-content: flex-end;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;

  
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  
  form {
    display: flex;
    border: 2px solid #ff385c;
    padding: 10px;
    justify-content: space-between;
  }
  
  form label {
    flex: none;
    font-weight: bold;
    
  }
  .form-adjust{
    display: flex;
    flex-direction: column;
    justify-content: none;
    min-width: 80px;
  }
  
  form select,
  form input {
    margin-bottom: 20px;
    width: auto;
  
    
  }
  
  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    width: auto;
    margin-bottom: 10px;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    
  }
  .logo{
    margin: 14px 0;
    padding-top: 0;
  }
  header nav ul {
    margin-top: 25px;
    
  }
  header nav ul li a:hover {
    color: #bdbdbd;
  }
  .logo {
    font-family: "Pangolin", cursive;
    font-size: 40px;
    color: #fff;
  }
  .group {
    display: flex;
    flex-direction: row;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 40px;
    font-size: larger;
    
  }
  
  .item-p-li {
    flex: 1;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: auto;
  }
}
